{% extends 'hospital/base.html' %}

{% block content %}
<form method="post" action=" " class="">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm Medical Test deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete <strong>{{ test.test }} Test for {{ test.patient }}</strong>? </p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'operations:list_medical_test' %}"><div class="btn btn-default">Cancel</div></a>
    <button type="submit" class="btn btn-danger">Delete Test</button>
  </div>
</form>
{% endblock %}