{% for vacine in queryset %}
{% load static %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ vacine.date }}</td>
    <td>{{ vacine.vaccine }}</td>
    <td>{{ vacine.patient }}</td>
    <td>{{ vacine.nurse }}</td>
    <td>
      <button type="button"
              class="btn btn-primary btn-sm">
        <i class="far fa-edit"></i> <a href="{% url 'operations:update_applied_vaccine' vacine.id %}">Edit </a>
      </button>

      <button type="button"
              class="btn btn-danger btn-sm">
      <i class="far fa-trash-alt"></i> <a href="{% url 'operations:delete_applied_vaccine' vacine.id %}" >Delete </a>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Vaccine Applied</td>
  </tr>
{% endfor %}
