{% extends 'hospital/base.html' %}

{% load static %}

{% block javascripts %}
  <script src="{% static 'hospital/js/modal.js' %}"> </script>
{% endblock javascripts %}


{% block content %}
  <div class="container">
    <h1 class="page-header">NOtifications</h1>


    <table class="table" id="room-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Notification</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in object_list %}
        <td>{{ forloop.counter }}</td>
        <td><h6>{{ notification.message }}</h6></td>

        {% empty %}
        <tr>
          <td colspan="8" class="text-center bg-warning">No Notifications  </td>
        </tr>

        {% endfor %}
<!--        {% include 'hospital/includes/partial_room_list.html' %}-->
      </tbody>
    </table>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-room">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>

{% endblock %}
