{% extends 'hospital/base.html' %}
{% block title %}Logout Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
        {% include "hospital/includes/success_message.html" %}
<div class="content">
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Confirm Email</h4>
            <hr>
            <div class="alert alert-info">
                <h5>Please Confirm your email to complete registration.</h5>
            </div>
<!--        </div>-->
    </div>
<!--</div>-->
</div>

{% endblock %}