{% extends 'partials/base.html' %}
{% block title %}Welcome{% endblock %}

<h1>Welcome</h1>

{% block content %}
{% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

{% if user.is_authenticated%}
<p>Welcome {{request.user}} </p>
<a href="{% url 'logout' %}">Logout</a> <br>


{% if request.user.user_type == 1 %}
<a href="{% url 'accounts:user-profile' %}">Profile Page</a> <br>
<a href="{% url 'accounts:user-profile-update' %}">Update Profile</a> <br>
{% endif %}

{% if request.user.user_type == 2 %}
<a href="{% url 'accounts:doctor-profile' %}">Profile Page</a> <br>
<a href="{% url 'accounts:doctor-profile-update' %}">Update Profile</a> <br>
{% endif %}
<p><a href="{% url 'accounts:password_reset' %}">Reset Password</a></p>
{% else %}
<br>
<center><h3>Welcome, kindy login or Register to Begin </h3></center>

<a href="{% url 'accounts:register' %}">Register</a> <br>
<a href="{% url 'accounts:login' %}">Login</a>
{% endif %}
{% endblock %}