{% extends 'hospital/base.html' %}

{% load static %}

{% block title %}Thanks{{ block.super }}{% endblock title %}

{% load crispy_forms_tags %}

{% block javascripts %}

  <!-- page specifi css -->
<!--<script src="{% static 'accounts/css/thanks2.css' %}"></script>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">-->
<link href="{% static 'accounts/css/thanks2.css' %}" rel="stylesheet">

{% endblock javascripts %}


{% block content %}

<!-- Modal HTML -->
<div id="myModal" class="content">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
<!--					<i class="material-icons">&#xE876;</i>-->
					<i class="fas fa-bong"></i>
				</div>
				<h4 >Congratulations!</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">A confirmation email has been sent. Kindly check your inbox to activate.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<!--</html>                            -->

{% endblock %}

