    {% load static %}
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

{% if not request.user.is_authenticated %}

	<ul class="nav nav-primary">
		<li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
		<a data-toggle=" " href="{% url 'accounts:login' %}" class="collapsed" aria-expanded="false">
			<i class="fas fa-home"></i>
			<p>Login</p>
		</a>
		</li>
	</ul>

<ul class="nav nav-primary">
		<li class="nav-item {% if request.resolver_match.url_name == 'register' %}active{% endif %}">
				<a data-toggle=" " href="{% url 'accounts:register' %}" class="collapsed" aria-expanded="false">
					<i class="fas fa-desktop"></i>
					<p>Register</p>
				</a>
			</li>
</ul>


{% endif %}
				{% if request.user.is_authenticated %}
					<div class="user">
						<div class="avatar-sm float-left mr-2">

							<img width="128" height="128" src="{{ user.image.url }}" alt="..." class="avatar-img rounded-circle">
<!--							<img src="{% static 'assets/img/profile.jpg' %}" alt="..." class="avatar-img rounded-circle">-->
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										{% if request.user.user_type == 1 %}
										<a href="{% url 'accounts:user-profile' %}">
											<span class="link-collapse">My Profile</span>
										</a>
										{% endif %}
										{% if request.user.user_type == 2 %}
										<a href="{% url 'accounts:doctor-profile' %}">
											<span class="link-collapse">My Profile</span>
										</a>
										{% endif %}
									</li>
									<li>
										<a href="{% url 'accounts:logout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">

						<li class="nav-item {% if request.resolver_match.url_name == 'emr' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'hospital:emr' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-book"></i>
								<p>EMR</p>
							</a>
						</li>
						<li class="nav-item ">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-plus"></i>
								<p>Add Patient</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="{% url 'reception:patient' %}">
											<span class="sub-item ">Patient</span>
										</a>
									</li>
									<li>
										<a href="{% url 'reception:in_patient' %}">
											<span class="sub-item">In-Patient</span>
										</a>
									</li>
									<li>
										<a href="{% url 'reception:out_patient' %}">
											<span class="sub-item">Out Patient</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

<!--						new seggggggg-->
						<li class="nav-item">
							<a data-toggle="collapse" href="#submenu3">
								<i class="fas fa-clock"></i>
								<p>Doctor Appointment</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu3">
								<ul class="nav nav-collapse">
									<li>
										<a href="{% url 'appointment:doctor_home' %}">
											<span class="sub-item">Apppointment Home</span>

										</a>
										<a href="{% url 'appointment:doctor_appointment_list' %}">
											<span class="sub-item">List of Appts</span>
<!--											<span class="caret"></span>-->
										</a>
										<a href="{% url 'appointment:doctor_appointment' %}">
											<span class="sub-item">Appointment</span>
										</a>
									</li>
								</ul>
							</div>


							<li class="nav-item">
							<a data-toggle="collapse" href="#submenu4">
								<i class="fas fa-calendar-alt"></i>
								<p>Patient Appointment</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu4">
							<ul class="nav nav-collapse">
									<li>
										<a data-toggle="" href="{% url 'appointment:patient' %}">
											<span class="sub-item">Apppointment Home</span>
											<span class=""></span>
										</a>
										<a data-toggle="" href="{% url 'appointment:quick_appointment' %}">
											<span class="sub-item">Book Appointment</span>
											<span class=""></span>
										</a>

									</li>
								</ul>
							</div>
						</li>
<!--						new-->
						<ul class="nav nav-primary">
						<li class="nav-item {% if request.resolver_match.url_name == 'treatments' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'operations:treatments' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-prescription-bottle-alt"></i>
								<p>Treatment</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'billings' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'finance:billings' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-money-check-alt"></i>
								<p>Finance</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'diagnoses' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'hospital:diagnoses' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-diagnoses"></i>
								<p>Diagnoses</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_prescription' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'pharmarcy:list_prescription' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-prescription"></i>
								<p>Prescription</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_medicine' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'pharmarcy:list_medicine' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-capsules"></i>
								<p>Medicine</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'doctors' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'staff:doctors' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-user-md"></i>
								<p>Doctors</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'rooms' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'hospital:rooms' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-procedures"></i>
								<p>Rooms</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_vaccine' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'operations:list_vaccine' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-dna"></i>
								<p>Vaccine</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_applied_vaccine' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'operations:list_applied_vaccine' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-dna"></i>
								<p>Vaccine Applied</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_test' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'operations:list_test' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-bong"></i>
								<p>Test</p>
							</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'list_medical_test' %}active{% endif %}">
							<a data-toggle=" " href="{% url 'operations:list_medical_test' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-bong"></i>
								<p>Take Med-Test</p>
							</a>
						</li>
						<li class="nav-item">
							<a data-toggle=" " href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>F</p>
							</a>
						</li>



						<li class="nav-item">
							<a data-toggle="collapse" href="#submenu">
								<i class="fas fa-bars"></i>
								<p>Doctor Appointment</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu">
								<ul class="nav nav-collapse">
									<li>
										<a data-toggle="" href="{% url 'appointment:doctor_home' %}">
											<span class="sub-item">Apppointment Home</span>
											<span class="caret"></span>
										</a>
										<a data-toggle="" href="{% url 'appointment:doctor_appointment_list' %}">
											<span class="sub-item">List of Appts</span>
											<span class="caret"></span>
										</a>
										<a data-toggle="" href="{% url 'appointment:doctor_appointment' %}">
											<span class="sub-item">Appointment</span>
											<span class="caret"></span>
										</a>
									</li>
								</ul>
							</div>


							<li class="nav-item">
							<a data-toggle="collapse" href="#submenu2">
								<i class="fas fa-bars"></i>
								<p>Patient Appointment</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu2">
							<ul class="nav nav-collapse">
									<li>
										<a data-toggle="" href="{% url 'appointment:patient' %}">
											<span class="sub-item">Apppointment Home</span>
											<span class=""></span>
										</a>
										<a data-toggle="" href="{% url 'appointment:quick_appointment' %}">
											<span class="sub-item">Book Appointment</span>
											<span class=""></span>
										</a>

									</li>
								</ul>
							</div>
						</li>
						</ul>
						</ul>
					</ul>
				{% endif %}
				</div>
			</div>
		</div>


        <!-- End Sidebar -->
        