{% extends "hospital/base.html" %}

{% load static %}

{% block title %}Doctors{{ block.super }}{% endblock title %}


{% block javascripts %}
  <script src="{% static 'staff/js/modal.js' %}"> </script>
{% endblock javascripts %}


{% block content %}
  <div class="container">
    <h1 class="page-header">Doctors</h1>

    <!-- BUTTON TO TRIGGER THE ACTION -->
    <p>
      <button type="button"
              class="btn btn-primary js-create-doctor"
              data-url="{% url 'staff:doctor_create' %}">
        <i class="fas fa-user-md"></i>
<!--        <span class="glyphicon glyphicon-plus"></span>-->
        New Internal doctor
      </button>
    </p>

    <table class="table" id="doctor-table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Identification No</th>
          <th>Phone No</th>
          <th>Department</th>
          <th>Speciality/Edit</th>
        </tr>
      </thead>
      <tbody>
        {% include 'staff/includes/partial_doctor_list.html' %}
      </tbody>
    </table>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-doctor">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>

{% endblock %}
