{% load static %}

<h3>Patients</h3>

<!--{% block javascripts %}-->
<!--  <script src="{% static 'staff/js/modal.js' %}"> </script>-->
<!--{% endblock javascripts %}-->

<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<h5 class="text-white op-7 mb-2">Receptionist Dashboard</h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">What i like</a>
						<a href="{% url 'reception:patient' %}" class="btn btn-primary "> <i class="fas fa-id-card-alt"> </i>  Add Patients</a>
					</div>
				</div>
			</div>
		</div>

<!--<p>-->
<!--  <a href="{% url 'reception:patient' %}">-->
<!--    <button type="button" class="btn btn-primary js-create-patient">-->
<!--      <span class="glyphicon glyphicon-plus"></span>-->
<!--      New Patient-->
<!--    </button>-->
<!--  </a>-->
<!--</p>-->

<div class="content">
<div class="table-responsive">
<table id="basic-datatables" class="display table table-striped table-hover" >
  <thead>
    <tr>
      <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Patient Number</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Age</th>
          <th>Country</th>
          <th>City</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>Next of Kin</th>
      </tr>
    </tr>
  </thead>

  <tbody>
    {% for patient in patient_list%}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.patient_no }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.dob }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.country }}</td>
          <td>{{ patient.city }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.next_of_kin_contact_no }}</td>
          <td>{{ patient.next_of_kin }}</td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="11" class="text-center bg-warning">No Patient to display. Thank you.</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

