{% extends 'hospital/base.html' %}

{% load static %}

{% block title %}Medicine{{ block.super }}{% endblock title %}

{% load crispy_forms_tags %}

{% block javascripts %}
<title>Bootstrap Interactive Alerts</title>
  <!-- bootstrap css styles -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- bootstrap javascript for interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock javascripts %}


{% block content %}
  <div class="container">
    <h1 class="page-header">Medicine</h1>

    <!-- BUTTON TO TRIGGER THE ACTION -->
    <p>
      <button type="button"
              class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-dna"></i>
        New Medicine
      </button>
    </p>

    <div class="table-responsive">
    <table class="table" id="treatment-table">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>code</th>
          <th>description</th>
          <th>supplier</th>
        </tr>
      </thead>
      <tbody>
        {% include 'pharmarcy/includes/partial_medicine_list.html' %}
      </tbody>
    </table>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-treatment">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>


 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddVaccineModal">Add New Medicine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method='POST' action="{% url 'pharmarcy:create_medicine' %}" >
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Create Medicine" class="btn btn-block btn-primary">
          </form>
        </div>
        <div class="modal-footer">
          <!-- some footer content -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

