{% extends 'hospital/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'pharmarcy:create_medicine' %}" class="">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create Medicine</h4>
  </div>
  <div class="col-md-6 mx-auto jumbotron">
      {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create Medicine</button>
  </div>

  </div>
</form>
{% endblock %}