{% extends 'hospital/base.html' %}

{% block content %}

   <div class="content">
               {% include "hospital/includes/success_message.html" %}
           <div class="container">
          <div class="row min-height">
              <div class="col-sm-12">
                             
                            <div class="row main_boder">
                                <div class="col-sm-7">
                                     <h3 class="appointmnet_list">Create Appointment</h3>
                                </div>
                                <div class="col-sm-5">
                                      <form class="form-inline my-2 my-lg-0" method="GET" action="">
                                          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Date" placeholder="Search With Name" aria-label="Search">
                                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                                       </form>

                                </div>
 
 
                            </div>

                          <form method="POST" action="">
                              {% csrf_token %}
                               {{form}}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-success">Update <i class="fas fa-pen-alt"></i></button>

                             </form>
                             <br>
      </div>


                             <table class="table">
                                       <thead>
                                        <tr>
                                          <th scope="col">Date</th>
                                          <th scope="col">Time</th>
                                          <th scope="col">Room Number</th>
                                          
                                        </tr>
                                      </thead>{% for appoint in query %} <!--For Loop for all post -->
                                      {% if appoint.booked != False %} <!--|if appointment with not empty|Filter only those are booked-->
                                      <tbody>
                                        <tr>
                                          <td>{{appoint.date}}</td>
                                          <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                          <td>{{appoint.room_number}}</td>
                                          <td><button title="Already booked, Not editable" type="button" class="btn btn-primary">Booked By: {{appoint.patients.appointment_with}}</button></td>
                                          </td>
                                        </tr>
                                      </tbody>{% endif %}

                                      {% if appoint.booked == False %}<!--Filter Those not Booked yet-->
                                      <tbody>
                                        <tr>
                                          <td>{{appoint.date}}</td>
                                          <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                          <td>{{appoint.room_number}}</td>
                                          <td><a href='{% url "appointment:appointment_delete" id=appoint.id %}'><button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a> <a href='{% url "appointment:doctor_appointment_update" id=appoint.id %}'><button type="submit" class="btn btn-danger"><i class="far fa-edit"></i></button></a></td>

                                        </tr>
                                        
                                      </tbody>{% endif %}

                                      {% endfor %}
                              </table>
                            


              </div>
       
          </div>
      </div>
      </div>

      <div class="footer">
           <div class="container">
          <div class="row">
              <div class="col-sm-12">
                             Copyright 2021 , Developed By .....
              </div>
       
          </div>
      </div>
      </div>

    
{% endblock %}



