{% extends 'hospital/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

   <div class="content">
{% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
           <div class="container">
          <div class="row min-height">
              <div class="col-sm-12">
                             
                            <div class="row main_boder">
                                <div class="col-sm-7">
                                     <h3 class="appointmnet_list">Create Appointment</h3>
                                </div>
                                <div class="col-sm-5">
                                      <form class="form-inline my-2 my-lg-0" method="GET" action="">
                                          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Date" placeholder="Search With Name" aria-label="Search">
                                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                                       </form>

                                </div>
 
 
                            </div>
                  <div class="card-body">
                    <form action="{% url 'appointment:doctor_appointment_list' %}" method="POST" novalidate>
                      {% csrf_token %}
                        {{form|crispy}}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                    <button type="submit" class="btn btn-success">Add <i class="fas fa-plus"></i></button>
                    </form>
                  </div>

<!--                          <form method="POST" action="">{% csrf_token %}-->
<!--                               <div class="row" id="datepairExample">-->
<!--                                  <div class="col">-->
<!--                                    <input type="text" class="form-control date start"  name="{{form.date.name}}" required id="id_{{form.date.name}}" placeholder="Date Ex. 30.10.12 ">-->
<!--                                  </div>-->
<!--                                  <div class="col">-->
<!--                                    <input type="text" class="form-control time start" name="{{form.time_start.name}}" required id="id_{{form.time_start.name}}" required placeholder="Time Ex. 01.00 PM">-->
<!--                                  </div> to-->
<!--                                  <div class="col">-->
<!--                                    <input type="text" class="form-control time end" name="{{form.time_end.name}}" required id="id_{{form.time_end.name}}" required placeholder="Time Ex. 01.30 PM ">-->
<!--                                  </div>-->

<!--                                  <div class="col">-->
<!--                                    <input type="text" class="form-control" name="{{form.room_number.name}}" required id="id_{{form.room_number.name}}" required placeholder="Room Number">-->
<!--                                  </div>-->

<!--                                  <div class="col">-->
<!--                                    <button type="submit" class="btn btn-success">Add <i class="fas fa-plus"></i></button>-->
<!--                                  </div>-->

<!--                                </div>-->
<!--                             </form>-->
                             <br>
      </div>

                             <table class="table">
                                       <thead>
                                        <tr>
                                          <th scope="col">Date</th>
                                          <th scope="col">Time</th>
                                          <th scope="col">Room Number</th>
                                          
                                        </tr>
                                      </thead>{% for appoint in query %} <!--For Loop for all post -->
                                      {% if appoint.booked == True %} <!--Filter only those are booked-->
                                      <tbody>
                                        <tr>
                                          <td>{{appoint.date}}</td>
                                          <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                          <td>{{appoint.room_number}}</td>
                                          <td><button title="Already booked, Not editable" type="button" class="btn btn-primary">Booked By: {{appoint.appointment_with}}</button></td>
                                          </td>
                                        </tr>
                                      </tbody>{% endif %}

                                      {% if appoint.booked == False %}<!--Filter Those not Booked yet-->
                                      <tbody>
                                        <tr>
                                          <td>{{appoint.date}}</td>
                                          <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                          <td>{{appoint.room_number}}</td>
                                          <td><a href='{% url "appointment:appointment_delete" id=appoint.id %}'><button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a> <a href='{% url "appointment:doctor_appointment_update" id=appoint.id %}'><button type="submit" class="btn btn-danger"><i class="far fa-edit"></i></button></a></td>

                                        </tr>
                                        
                                      </tbody>{% endif %}

                                      {% endfor %}
                              </table>
                            


              </div>
       
          </div>
      </div>
      </div>

      <div class="footer">
           <div class="container">
          <div class="row">
              <div class="col-sm-12">
                             Copyright 2021 , Developed By .......
              </div>
       
          </div>
      </div>
      </div>

    
{% endblock %}



