{% extends 'hospital/base.html' %}

{% block content %}

   <div class="content">
               {% include "hospital/includes/success_message.html" %}
<!--           <div class="container">-->
<!--				  <div class="row min-height">-->
					    <div class="col-sm-12">
                             
                            <div class="row main_boder">
                                <div class="col-sm-7">
                                     <h3 class="appointmnet_list">Quick Appointment</h3>
                                </div>
                                <div class="col-sm-5">
                                      <form class="form-inline my-2 my-lg-0" method="GET" action="">
                                          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search By Doctor's Name" placeholder="Search With Name" aria-label="Search">
                                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                                       </form>
                                </div>
 
                            </div>
                             
                             <table class="table">
                                 <thead>
                                  <tr>
                                    <th scope="col">Doctor's Name</th>
                                    <th scope="col">Profile Picture</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Available Free Time</th>
                                      <th scope="col">Venue </th>
                                      <th scope="col">Book </th>
                                  </tr>
                                </thead>
                                <tbody>{% for appoint in query %} <!--For loop-->
                                  {% if appoint.booked == False %} <!--only bookabe appointment-->
                                  <tr>
                                    <th scope="row">{{appoint.doctor}}</th>
<!--                                      misnomer - note - it should be appoint.doctor.doctor.image.url - during prod. used patient when registering -->
                                      <td><img class="img-thumbnail rounded-circle " width="150" height="150" src="{{ MEDIA_URL }}{{ appoint.doctor.image.url }}" alt="profile-image"> </td>
<!--                                    <td><img class="avatar" src="{{ MEDIA_URL }}{{appoint.user.patient.image.url}}" width="150" height="150"> <td/>-->
<!--                                                                          <td><img class="avatar" src="/static/css/image/teacher.png"></td>-->
                                    <td>{{appoint.date}}</td>
                                    <td>
                                      <span class="inline">{{appoint.time_start}} - {{appoint.time_end}}
                                      </span>
                                    </td>
                                      <td>    {{appoint.room_number}}</td><td><a href='{% url "appointment:appointment_update" id=appoint.id %}'> <button class="btn btn-primary" type="submit">Book Now</button></a></span>
                                    </td>
                                   {% endif %}
                                  </tr>{% endfor %}<!--End For loop-->
                                </tbody>
                            </table>  
	                                 
					    </div>
	     
				  </div>
			</div>
      </div>

      <div class="footer">
           <div class="container">
          <div class="row">
              <div class="col-sm-12">
                             Copyright 2021 , Developed By Segs
              </div>
       
          </div>
      </div>
      </div>



    
{% endblock %}



