{% for doctor in doctors %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ doctor.person.user.first_name }}</td>
    <td>{{ doctor.person.user.last_name }}</td>
    <td>{{ doctor.person.identification_number }}</td>
    <td>{{ doctor.person.phone_number }}</td>
    <td>{{ doctor.person.department }}</td>
    {% if not specialty == Null %}
    <td>{{ doctor.specialty }}</td>
    {% endif %}
    <td>
      <button type="button"
              class="btn btn-primary btn-sm js-update-doctor"
              data-url="{% url 'staff:doctor_update' pk=doctor.id %}">
        <i class="far fa-edit"></i> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-doctor"
              data-url="{% url 'staff:doctor_delete' pk=doctor.id %}">
        <i class="far fa-trash-alt"></i> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="11" class="text-center bg-warning">No doctors</td>
  </tr>
{% endfor %}
