{% extends 'hospital/base.html' %}
{% block title %}Doctor Profile Page{% endblock %}

{% block content %}
<div class="content">

<!--    <div class="col-md-2"></div>-->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info text-white">
                -Doctor Detail Page
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                        <span class="h4"> Doctor Profile Information</span>
                            <a class="btn btn-info btn-sm float-right" href="{% url 'accounts:doctor-profile-update' %}">Edit</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ user.doctor.phone_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Identification Number</th>
                                <td>{{ user.doctor.identification_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Department</th>
                                <td>{{ user.doctor.department }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Designation</th>
                                <td>{{ user.doctor.designation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail rounded-circle " width="250" height="250" src="{{ user.image.url }}" alt="doc-profile-image">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}