{% for prescription in queryset %}
{% load static %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ prescription.doctor }}</td>
    <td>{{ prescription.patient.first_name }}</td>
    <td>{{ prescription.drug }}</td>
    <td>{{ prescription.description }}</td>
    <td>{{ prescription.dosage }}</td>
    <td>{{ prescription.quantity }}</td>
    <td>{{ prescription.instructions }}</td>
    <td>
      <button type="button"
              class="btn btn-primary btn-sm">
        <i class="far fa-edit"></i> <a href="{% url 'pharmarcy:update_prescription' prescription.id %}">Edit </a>
      </button>

      <button type="button"
              class="btn btn-danger btn-sm">
      <i class="far fa-trash-alt"></i> <a href="{% url 'pharmarcy:delete_prescription' prescription.id %}" >Delete </a>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Prescriptions yet</td>
  </tr>
{% endfor %}
