{% for medicine in queryset %}
{% load static %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ medicine.name }}</td>
    <td>{{ medicine.code }}</td>
    <td>{{ medicine.description }}</td>
    <td>{{ medicine.supplier }}</td>
    <td>
      <button type="button"
              class="btn btn-primary btn-sm">
        <i class="far fa-edit"></i> <a href="{% url 'pharmarcy:update_medicine' medicine.id %}">Edit </a>
      </button>

      <button type="button"
              class="btn btn-danger btn-sm">
      <i class="far fa-trash-alt"></i> <a href="{% url 'pharmarcy:delete_medicine' medicine.id %}" >Delete </a>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Medicines </td>
  </tr>
{% endfor %}
